body {
  background-color: #051933;
  font-family: Inter, sans-serif;
}

.form-login {
  color: #fff;
  border: 0.5px solid #167bf7;
  border-radius: 4px;
  background-color: #09336666;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.form-login h1 {
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
}

.form-login p {
  margin-top: 5px;
  font-size: 13px;
}

.form-login button {
  border-radius: 30px;
  padding: 15px;
  text-transform: uppercase;
  margin: 14px;
}

.form-login a {
  color: #fff;
  text-decoration: underline;
}

.form-login input {
  border: 1px solid #051933;
  border-radius: 1px;
  background-color: #051933;
  width: 100%;
  height: 30px;
}

.form-login label {
  margin-bottom: 2px;
  font-weight: 700;
  margin-top: 20px;
  align-self: flex-start;
}

.login-button {
  background-color: #a3ffbf;
  font-weight: 700;
  color: #051932;
  width: 100%;
  border: none;
}

.facebook-button {
  border: 1px solid #167bf7;
}

.google-button {
  border: 1.5px solid #db4a39;
}

.facebook-button,
.google-button {
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  width: 100%;
}

.cursos {
  color: #fff;
}

.cursos h1 {
  font-weight: 800;
  font-size: 28px;
}

.cursos p {
  font-size: 13px;
}
.card {
  border: 0.5px solid #167bf7;
  border-radius: 4px;
  background-color: #09336666;
  width: 210px;
  height: 160px;
  padding: 20px;
}

.card h3 {
  text-transform: uppercase;
}

.programacao h3,
.programacao p:first-child {
  color: #00c86f;
}

.frontend h3,
.frontend p:first-child {
  color: #6bd1ff;
}

.datascience h3,
.datascience p:first-child {
  color: #9cd33b;
}

.inteligencia-artificial h3,
.inteligencia-artificial p:first-child {
  color: #7b71ff;
}

.devops h3,
.devops p:first-child {
  color: #f16165;
}

.ux-design h3,
.ux-design p:first-child {
  color: #dc6ebe;
}

.mobile h3,
.mobile p:first-child {
  color: #ffba05;
}

.inovacao h3,
.inovacao p:first-child {
  color: #ff8c2a;
}

.cards-cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
