body {
  background-color: #051933;
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}

.form-login {
  color: #fff;
  border: 0.5px solid #167bf7;
  border-radius: 4px;
  background-color: #09336666;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  align-self: start;
}

.form-login h1 {
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
}

.form-login p {
  margin-top: 5px;
  font-size: 13px;
}

.form-login button {
  border-radius: 30px;
  padding: 15px;
  text-transform: uppercase;
  margin: 14px;
}

.form-login a {
  color: #fff;
  text-decoration: underline;
}

.form-login input {
  border: 1px solid #051933;
  border-radius: 1px;
  background-color: #051933;
  width: 100%;
  height: 30px;
}

.form-login label {
  margin-bottom: 2px;
  font-weight: 700;
  margin-top: 20px;
  align-self: flex-start;
}

.login-button {
  background-color: #a3ffbf;
  font-weight: 700;
  color: #051932;
  width: 100%;
  border: none;
}

.facebook-button {
  border: 1px solid #167bf7;
}

.google-button {
  border: 1.5px solid #db4a39;
}

.facebook-button,
.google-button {
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  width: 100%;
}

.cursos {
  color: #fff;
}

.cursos h1 {
  font-weight: 800;
  font-size: 28px;
  margin-top: 0;
}

.cursos p {
  font-size: 13px;
}
.card {
  border: 0.5px solid #167bf7;
  border-radius: 4px;
  background-color: #09336666;
  width: 160px;
  height: 120px;
  padding: 20px;
}

.card h3 {
  font-size: 15px;
  margin-top: 0;
  text-transform: uppercase;
}

.programacao h3,
.programacao p:first-child {
  color: #00c86f;
}

.frontend h3,
.frontend p:first-child {
  color: #6bd1ff;
}

.datascience h3,
.datascience p:first-child {
  color: #9cd33b;
}

.inteligencia-artificial h3,
.inteligencia-artificial p:first-child {
  color: #7b71ff;
}

.devops h3,
.devops p:first-child {
  color: #f16165;
}

.ux-design h3,
.ux-design p:first-child {
  color: #dc6ebe;
}

.mobile h3,
.mobile p:first-child {
  color: #ffba05;
}

.inovacao h3,
.inovacao p:first-child {
  color: #ff8c2a;
}

.cards-cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.escola_ {
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 40px;
  margin-top: 40px;
}

.matricula {
  color: #fff;
  background-color: #136ad6;
  text-align: center;
  grid-column: 2;
  width: 70%;
  border-radius: 5px;
  padding: 20px 10px;
}

.matricula h1 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}

.matricula h2 {
  font-weight: 400;
  margin-top: 0;
}

.matricula button {
  padding: 10px 20px;
  border-radius: 32px;
  text-transform: uppercase;
  color: #167bf7;
  background-color: #fff;
  font-weight: 700;
  border: none;
}

footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  border-top: 1px solid #fff;
  margin-top: 50px;
  padding: 35px 10px 10px 10px;
  height: 100px;
}

.links-uteis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  line-height: 2;
  font-size: 12px;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
}

.redes-sociais h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.redes-sociais-icons {
  display: flex;
  list-style: none;
  align-items: flex-start;
  gap: 5px;
  padding: 0;
  margin: 0px 0px;
}

.redes-sociais-icons img {
  height: 40px;
  width: 40px;
}
